body{background-color:rgb(122, 122, 157);}
h1{border: 1px solid rgb(35, 33, 33);
    width: 500px;
    text-align: center;
    margin: 0 auto;
    color:gold;}
h2{ width: 500px;
    text-align: center;
    margin: 0 auto;
    color:gold;}
img{display:block;
    margin: 0 auto;}
p,ol,li,a {
    color: black;
    width: 500px;
    margin: 0 auto;}
a{
    text-decoration: none;}
a:hover{color:chocolate}
p.credits{font-size: 0.5em;}
p.startover{font-style: italic;}